@model IEnumerable<mitarbeiterEntity>

<div class="row">
    <div class="table responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>m_vorname</th>
                    <th>m_nachname</th>
                    <th>m_email_adresse</th>
                    <th>m_telefonnummer</th>
                    <th>m_berufsbezeichnung</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                   <tr>
                        <td>@item.m_anrede</td>
                        <td>@item.m_vorname</td>
                        <td>@item.m_nachname</td>
                        <td>@item.m_email_adresse</td>
                        <td>@item.m_telefonnummer</td>
                        <td>@item.m_berufsbezeichnung</td>
                   </tr> 
                }
            </tbody>
        </table>

    </div>

</div>